@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Slab', serif;
    font-weight: 1000;
    text-transform:none;
    letter-spacing: 3px;
}
#hnav {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: whitesmoke;
}

#hnav a {
    text-decoration:none;
    font-size: 20px;
    color:black;
}

#hnav a.active {
    border-bottom: solid 2px;
}

#hnav a:hover {
    background-color: rgb(2, 36, 2);
    color: whitesmoke;
}
 
#guide-image {
    height: 500px;
    width: 100%;
    background: url('../images/guide-imge.jpg') no-repeat center center;
    background-size: cover;
}



