@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Slab', serif;
    font-weight: 1000;
    text-transform:none;
    letter-spacing: 3px;
}
#hnav {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: whitesmoke;
}

#hnav a {
    text-decoration:none;
    font-size: 20px;
    color:black;
}

#hnav a.active {
    border-bottom: solid 2px;
}

#hnav a:hover {
    background-color: rgb(2, 36, 2);
    color: whitesmoke;
}
 /*main image*/
#container {
    position: relative;
    overflow: hidden;
}

#photo-text {
    color: whitesmoke ;
}

#guide-image {
    height: 500px;
    width: 100%;
    background: url('../images/guide-imge.jpg') no-repeat center center;
    background-size: cover;
}

#photo-text {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    width: 400px;
    height: 100px;
    padding-top: 30px;
    padding-left: 10px;
    text-transform: uppercase;
    bottom: 30px;
    right:150px;
    position: absolute;
}

/*Suggested Places*/

 h1 {
     margin-top: 20px;
     margin-bottom: 20px;
     text-align: center;
 }

#suggest {
    height: 200px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
}

#suggest figure {
    /* border: thin #c0c0c0 solid;  */
    display: flex;
    flex-flow: column;
    max-width: 250px;
}

#suggest img {
    max-width: 250px;
    max-height: 150px;
}

#suggest figcaption {
    width: 250px;
    background-color: rgb(202, 198, 198);
    color: rgb(8, 5, 5);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 3px;
    text-align: center;
    font-weight: 1000;
}

#suggest a {
    text-decoration: none;
    color: black;
}

/* Sites that may interest you */

h3 {
    background-color: rgb(109, 205, 235);
}

#sites{
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.list-sites  {
    color: rgb(230, 31, 31);
}

.list-sites > li {
    list-style: none;
    padding: 10px 0 10px 0;
}

.interests {
    background-color:#f6f4f2;
    width: 20%;
    padding-top: 4px;
    padding-bottom: 10px; 
}

.interests a {
     color:rgb(231, 19, 19);
     text-decoration: none;
     text-transform: uppercase;
     font-size: 15px;
}

.interests a:hover {
    background-color: rgb(109, 205, 235);
    color:rgb(240, 208, 208);
}

/* contact */

#contact {
    margin-top: 40px;
    text-align: center;
    height: 300px;
    width: 100%;
}

#in-contact {
    background-color:#fafafa;
}

#contact div {
    margin-top: 20px;
}

#contact input {
    height: 30px;
    width: 300px;
    font-size: 18px;
    margin-top: 20px;
}
#contact button {
    height: 30px;
    width: 300px;
}
#contact textarea {
    height: 110px;
    width: 85%;
    font-size: 18px ;
}

/* Follow Us */

footer {
    height: 160px;
    background-color:lightgray;
}

.follow-us {
    text-align: center ;
}

.follow-us > li {
    display: inline;
}

.follow-us img {
    padding: 25px;
}

.follow-us a {
    text-decoration: none;
}

/* places page two*/
#place-list {
    height: 2900px;
    width: 98%;
    text-align: center;
}
    
#place-list article {
    margin-top: 20px;
    margin-left: 15px;
    height: 550px;
    width: 100%;
    text-align: center;
    background-color: rgb(243, 241, 241);
    border: 2px solid darkslategray;
}

#place-list img {
   margin-top: 20px;
    height: 300px;
    width: 30%px;
    border: 2px solid rgb(248, 150, 150);
}

#place-list p {
    padding: 20px 5px 20px 8px;
    font-family: 'Roboto Slab', serif;
    font-weight: 1000;
    text-transform:none;
    letter-spacing: 3px;
   text-align: left;
   
}

@media screen and (max-width: 1200px) {
    #container {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #container {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #hbar {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #photo-text {
        left: 0;
    }

    #club-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }